<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <title>Balta Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/o-nama.jpg" rel="icon">
  <link href="/static/assets/o-nama.jpg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="icon" href="/static/assets/odvojeno - Copy.jpg" />


  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

</head>

<body>

  {% if error %}
  <div id="toast-message" class="toast-message toast-error">
      <p id="toast-text">{{error}}</p>
      <button onclick="this.parentNode.remove()" class="toast-close-btn">&times;</button>
  </div>
  {% endif %}
  {% if success %}
  <div id="toast-message" class="toast-message">
      <p id="toast-text">{{success}}</p>
      <button onclick="this.parentNode.remove()" class="toast-close-btn">&times;</button>
  </div>
  {% endif %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="">BH<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    
    </div>
  </header><!-- End Header -->

    </div>
  </section><!-- End Hero -->
{% block main_content %}
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Prijava</h2>
        <h4>Prijavite se</h4>
      </div>
<div style="height:45vh;">
<form class="center_form" id="login_form" action="/login" method="post" style="margin-top: 0px;" >
    <div class="form-group">
        <label for="login_username">Username:</label>
        <input type="text" id="login_username" name="username" required>
    </div>
    <div class="form-group">
        <label for="login_password">Password:</label>
        <input type="password" id="login_password" name="password" required>
    </div>
    <button type="submit" class="button-login">Prijavi se</button>

</form>
{% endblock %}
</div></section>
<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>BH</span></strong>. Sva prava zadrzana
    </div>
    <div class="credits">
      Designed by <a href="https://resadspahovic.netlify.app/" target="_blank">Resad Spahovic</a>
    </div>
  </div>
</footer><!-- End Footer -->

<!-- Template Main JS File -->
<script src="/static/assets/js/main.js"></script>

</body>

</html>